<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Tutorial Sample App | Aboutt</title>
</head>
<body>
<h1>About Us</h1>
<p>
Ruby on Rails tutorial helps teach people how to use RoR. 'Nuff said.
</p>
</body>
</html>